.greetingForm {

}

.inputAndButtonContainer {
    display: flex;
    gap: 10px;
}

.error {
    color: red;
}

.input {
    height: 40px;
    width: 200px;
    border-radius: 10px;
    border: 1px solid lightgray;
}

.input:focus {
}

.errorInput {
    border: 1px solid red;
}

.button {
    height: 40px;
    padding-inline: 24px;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: #fff;
    background-color: #0066CC;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.button:focus {
}

.button:active {
}

.button:disabled {
    opacity: 0.5;
}

.text {

    font-size: 14px;
    color: #00000080;

}

.greeting {
    margin-top: 5px;
    color: #00000080;
}
